POSTGRES_DB=neuroquant
POSTGRES_USER=neuroquant
POSTGRES_PASSWORD=neuroquant_change_me
POSTGRES_PORT=5432
REDIS_PORT=6379
FRONTEND_PORT=3000
NGINX_PORT=8080
JWT_SECRET_KEY=change_me_super_long_secret
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=10080
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me
